.buttons {
  text-align: center;

  button {
    background-color: #4b1124;
    border: 4px double #cfb338;
    box-shadow: 4px 4px 5px #333;
    color: #eee;
    cursor: pointer;
    font-size: 24px;
    padding: .5em 2em;

    &:active {
      box-shadow: none;
      left: 4px;
      position: relative;
      top: 4px;
    }
  }
}
